<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add  name="SQLConnectionString" connectionString="Data Source=DESKTOP-DAVNARG;Initial Catalog=Test;Integrated Security=True; TrustServerCertificate=False;"/>
    <add name="MongoConnectionString" connectionString="mongodb://localhost:27017"/>
    <add name="BlobStorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=iflowsdev;AccountKey=x/wLtBbk6U8e9i66NiHYBE0mFAMoabWoFYXR+VR9F3f91bEBMSvujWNpLnjk9ZLM54fnNukq0R5K+ASthe0K7g==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  <appSettings>
    <add key="ExcelFilePath" value="C:\\Users\\Techment\\Downloads\\form_metadata_config_sample.xlsx"/>
    <add key="BlobContainerName" value="form-templates-poc"/>
    <add key="BlobFolderPath" value=""/>
    <add key="ClientId" value="258cda50-87bc-4cd3-8807-c30b1b5e91b3"/>
    <add key="ClientSecret" value="Vem8Q~Up66tcJALWxQanO6ZZEZSdZ05gA9Ybtcwd"/>
    <add key="AccessTokenUrl" value="https://iflows-api-dev-apim.azure-api.net/func-iflows-dev/GetToken"/>
    <add key="SqlDataSaveUrl" value="https://iflows-api-dev.azurewebsites.net/api/v1/Form"/>
    <add key="MongoDataSaveUrl" value="https://iflows-api-dev.azurewebsites.net/api/v1/FormData"/>
    <add key="LogFilePath" value="C:\Temp\TraceLog.txt"/>
    <add key="ExceptionFilepath" value="C:\Temp\ExceptionLog.txt"/>

  </appSettings>
</configuration>